.lecturer {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  max-width: 1300px;
  width: 100%;
  margin: 10px auto;
}

.lecturerModal {
  .formGroupRow {
    display: flex;
    flex-direction: row;
    margin: 0 -0.5em 1em;

    .twelve.wide.field {
      width: 100% !important;
      margin: 0 0.4em;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
  }
}
