.App {
  text-align: center;
}

.ui.button{
  background-color: rgba(1, 110, 69, 0.3);
}

.ui.button:hover{
  background-color: rgba(1, 110, 69, 0.5);
}

.ui.button.secondary{
  background-color: rgba(46, 46, 46, 0.9);
  margin-left: 30px;
}

h1{
  text-align: center;
  margin-bottom: 64px;
}

h2{
  text-align: center;
}

.ui.secondary.menu .active.item{
  background-color: rgba(1, 110, 69, 0.3);
}

.header{
  font-size: 1.5rem;
  margin-bottom: 15px;
}